In [1]:
import tushare as ts
import pandas as pd

In [2]:
pro = ts.pro_api()

In [3]:
code = pd.read_csv("data/code_list.csv",usecols=['ts_code',"list_date"])

In [5]:
count = 0
for i in code["ts_code"].tolist()[count:2]:
    pro = ts.pro_api()
    df = pro.weekly(ts_code = i,start_date = "19950501",end_date = "20190501",fields = "trade_date,close,pct_chg")
    df.to_csv("trade_data/"+i+".csv")
    count += 1
    print(i,end="")
    print(count)

000001.SZ1
000002.SZ2

In [33]:
code[code.ts_code == "603999.SH"].index.tolist()
2521

[3545]

In [7]:
df = pro.weekly(ts_code = "000001.SZ",start_date = "19950501",end_date = "20190501",fields = "trade_date,open,close,pre_close,pct_chg")

In [8]:
df

     trade_date  close   open  pre_close  pct_chg
0      20190430  13.85  13.90      13.79   0.0044
1      20190426  13.79  14.60      14.73  -0.0638
2      20190419  14.73  13.72      13.42   0.0976
3      20190412  13.42  13.90      13.86  -0.0317
4      20190404  13.86  12.83      12.82   0.0811
5      20190329  12.82  12.40      12.59   0.0183
6      20190322  12.59  12.53      12.50   0.0072
7      20190315  12.50  12.30      12.30   0.0163
8      20190308  12.30  12.70      12.76  -0.0361
9      20190301  12.76  11.70      11.54   0.1057
10     20190222  11.54  11.05      10.95   0.0539
11     20190215  10.95  11.08      11.20  -0.0223
12     20190201  11.20  11.04      11.00   0.0182
13     20190125  11.00  10.34      10.43   0.0547
14     20190118  10.43  10.22      10.20   0.0225
15     20190111  10.20   9.84       9.75   0.0462
16     20190104   9.75   9.39       9.38   0.0394
17     20181228   9.38   9.40       9.45  -0.0074
18     20181221   9.45  10.16      10.17  -0.0708
19     20181214  10.17  10.22      10.28  -0.0107
20     20181207  10.28  10.59      10.36  -0.0077
21     20181130  10.36  10.34      10.32   0.0039
22     20181123  10.32  10.57      10.57  -0.0237
23     20181116  10.57  10.46      10.55   0.0019
24     20181109  10.55  10.95      11.09  -0.0487
25     20181102  11.09  11.20      11.18  -0.0081
26     20181026  11.18  10.81      10.76   0.0390
27     20181019  10.76  10.39      10.30   0.0447
28     20181012  10.30  10.70      11.05  -0.0679
29     20180928  11.05  10.52      10.67   0.0356
...         ...    ...    ...        ...      ...
1164   19951124   7.26   7.18       7.17   0.0126
1165   19951117   7.17   7.20       7.36  -0.0258
1166   19951110   7.36   7.48       7.48  -0.0160
1167   19951103   7.48   7.50       7.55  -0.0093
1168   19951027   7.55   7.88       7.88  -0.0419
1169   19951020   7.88   7.41       7.40   0.0649
1170   19951013   7.40   7.75       7.75  -0.0452
1171   19951006   7.75   7.90       7.88  -0.0165
1172   19950929   7.88   8.00       7.98  -0.0125
1173   19950922   9.87  10.20      10.09  -0.0218
1174   19950915  10.09   9.65       9.65   0.0456
1175   19950908   9.65   9.80       9.66  -0.0010
1176   19950901   9.66  10.56      10.56  -0.0852
1177   19950825  10.56  10.10      10.05   0.0507
1178   19950818  10.05   9.80       9.70   0.0361
1179   19950811   9.70   9.18       9.18   0.0566
1180   19950804   9.18   9.13       9.13   0.0055
1181   19950728   9.13   9.22       9.22  -0.0098
1182   19950721   9.22   9.00       9.02   0.0222
1183   19950714   9.02   9.25       9.25  -0.0249
1184   19950707   9.25   9.10       9.17   0.0087
1185   19950630   9.17   9.37       9.34  -0.0182
1186   19950623   9.34   9.30       9.30   0.0043
1187   19950616   9.30   9.79       9.78  -0.0491
1188   19950609   9.78   9.90       9.90  -0.0121
1189   19950602   9.90  10.09      10.00  -0.0100
1190   19950526  10.00  12.30      12.06  -0.1708
1191   19950519  12.06   9.38       9.38   0.2857
1192   19950512   9.38   9.35       9.35   0.0032
1193   19950505   9.35   9.69       9.69  -0.0351

[1194 rows x 5 columns]

In [12]:
df = pro.daily(ts_code = "001914.SZ",fields = "trade_date,close,pct_chg")

In [13]:
df

     trade_date  close  pct_chg
0      20200326  23.59   0.3403
1      20200325  23.51   5.0022
2      20200324  22.39   7.5925
3      20200323  20.81  -4.1014
4      20200320  21.70   4.3269
5      20200319  20.80  -5.1960
6      20200318  21.94  -3.4756
7      20200317  22.73  -2.0681
8      20200316  23.21  -3.6929
9      20200313  24.10  -0.5365
10     20200312  24.23  -3.3892
11     20200311  25.08  -0.2783
12     20200310  25.15   3.4554
13     20200309  24.31  -3.9889
14     20200306  25.32  -3.5061
15     20200305  26.24   2.3002
16     20200304  25.65   1.1834
17     20200303  25.35   3.8084
18     20200302  24.42   4.8069
19     20200228  23.30  -4.7035
20     20200227  24.45   2.3013
21     20200226  23.90  -4.2851
22     20200225  24.97  -0.3194
23     20200224  25.05  -3.8388
24     20200221  26.05  -1.2884
25     20200220  26.39  -0.8268
26     20200219  26.61   1.9931
27     20200218  26.09  -1.5100
28     20200217  26.49   6.5567
29     20200214  24.86  10.0000
...         ...    ...      ...
4970   19981102  10.79   3.8500
4971   19981030  10.39   3.8000
4972   19981029  10.01  -1.1800
4973   19981028  10.13   1.5000
4974   19981027   9.98   4.3900
4975   19981026   9.56   1.1600
4976   19981023   9.45  -1.5600
4977   19981022   9.60   2.0200
4978   19981021   9.41  -5.4300
4979   19981020   9.95  -2.3600
4980   19981019  10.19   2.5200
4981   19981016   9.94   0.6100
4982   19981015   9.88   5.1100
4983   19981014   9.40  -1.0500
4984   19981013   9.50  -1.9600
4985   19981012   9.69   4.4200
4986   19981009   9.28  -0.7500
4987   19981008   9.35   1.3000
4988   19981007   9.23  -0.3200
4989   19981006   9.26  -3.4400
4990   19981005   9.59  -1.3400
4991   19980930   9.72   0.6200
4992   19980929   9.66   1.7900
4993   19980928   9.49   1.5000
4994   19980925   9.35   2.7500
4995   19980924   9.10  -2.6700
4996   19980923   9.35   0.7500
4997   19980922   9.28  -0.4300
4998   19980921   9.32   1.8600
4999   19980918   9.15  -3.2800

[5000 rows x 3 columns]

In [16]:
df2 = pro.weekly(ts_code = "001914.SZ",fields = "trade_date,close,pct_chg")

In [17]:
df2

   trade_date  close  pct_chg
0    20200320  21.70  -0.0996
1    20200313  24.10  -0.0482
2    20200306  25.32   0.0867
3    20200228  23.30  -0.1056
4    20200221  26.05   0.0479
5    20200214  24.86   0.2039
6    20200207  20.65   0.0429
7    20200123  19.80  -0.0522
8    20200117  20.89  -0.0192
9    20200110  21.30   0.1415
10   20200103  18.66  -0.0312
11   20191227  19.26  -0.0087
12   20191220  19.43  -0.0405

In [10]:
asset = pro.balancesheet(ts_code="001914.SZ", start_date='19951201', end_date='20190431', fields='end_date,total_assets')

In [11]:
asset

    end_date  total_assets
0   20190331  1.220239e+10
1   20181231  1.323565e+10
2   20180930  1.730110e+10
3   20180630  1.938007e+10
4   20180331  1.913392e+10
5   20171231  1.911410e+10
6   20170930  1.919108e+10
7   20170630  1.904727e+10
8   20170331  1.980570e+10
9   20161231  2.173319e+10
10  20160930  2.434533e+10
11  20160630  2.349618e+10
12  20160331  2.397867e+10
13  20151231  2.288102e+10
14  20150930  2.255346e+10
15  20150630  2.230940e+10
16  20150331  2.154410e+10
17  20141231  2.006838e+10
18  20140930  2.131894e+10
19  20140630  2.050879e+10
20  20140331  1.939298e+10
21  20131231  1.771805e+10
22  20130930  1.807158e+10
23  20130630  1.734751e+10
24  20130331  1.521049e+10
25  20121231  1.442614e+10
26  20120930  1.382178e+10
27  20120630  1.311909e+10
28  20120331  1.177471e+10
29  20111231  1.108518e+10
..       ...           ...
52  20060331  1.585687e+09
53  20051231  1.475725e+09
54  20050930  1.675819e+09
55  20050630  1.628745e+09
56  20050331  1.684193e+09
57  20041231  1.342211e+09
58  20040930  1.099018e+09
59  20040630  1.082894e+09
60  20040331  1.034271e+09
61  20031231  8.037565e+08
62  20030930  9.880451e+08
63  20030630  9.137725e+08
64  20030331  8.916297e+08
65  20021231  8.270587e+08
66  20020930  1.180493e+09
67  20020630  1.141809e+09
68  20020331  1.103208e+09
69  20011231  9.514851e+08
70  20010630  1.230201e+09
71  20001231  1.241917e+09
72  20000630  1.234976e+09
73  19991231  1.158172e+09
74  19990630  1.194478e+09
75  19981231  1.194629e+09
76  19980630  1.159263e+09
77  19971231  1.088962e+09
78  19970630  1.047067e+09
79  19961231  9.552470e+08
80  19960630  8.798482e+08
81  19951231  7.793043e+08

[82 rows x 2 columns]